@{ 
    ViewData["Title"] = "Actualizar Usuario";
}

@using tl2_tp10_2023_InakiPoch.ViewModels
@model UpdateUserViewModel

<div class="container">
    <div class="row col-md-6 mx-auto" style="margin-top: -150px;">
        <h1>@ViewData["Title"]</h1>
        <form asp-controller="User" asp-action="Update">
            <input hidden asp-for = "@Model.Id">
            <div class="form-group">
                <label for="username">Nuevo nombre de usuario</label>
                <input asp-for = "@Model.Username" class="form-control" id="username">
            </div>
            @if(!string.IsNullOrEmpty(Model.ErrorMessage)) {
                <p class="text-danger text-center mt-3">@Model.ErrorMessage</p>
            }
            <button type="submit" class="btn btn-primary mx-auto mt-3">Actualizar</button>
        </form>
    </div>
</div>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}