@{ 
    ViewData["Title"] = "Asignar Tarea";
}

@using tl2_tp10_2023_IvanDMir.ViewModels;
@model AsTVM;

<div class="container">
    <h2 class="mt-3">Asignar Tarea</h2>
    <hr>

    <form asp-controller="Tarea" asp-action="Asignar" method="post">
        <input type="hidden" asp-for="@Model.Idtarea">
        <div class="form-group">
            <label for="usuario">Usuario al Asignar la Tarea</label>
            <select id="usuario" name="usuario" class="form-control">
                @foreach (Usuario usuario in Model.UsuariosDisponibles)
                {
                    <option value="@usuario.id_usuario">@usuario.nombre_De_Usuario</option>
                }
                <option value="0">Sin usuario asignado</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Asignar</button>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
