html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-green {
  color: greenyellow !important;
}

.text-yellow {
  color: yellow !important;
}

.text-red {
  color: red !important;
}

.text-skyblue {
  color: skyblue !important;
}

.text-grey {
  color: gray !important;
}

.text-white {
  color: white !important;
}

.bg-green {
  background-color: greenyellow !important;
}

.bg-yellow {
  background-color: yellow !important;
}

.bg-red {
  background-color: red !important;
}

.bg-skyblue {
  background-color: skyblue !important;
}

.bg-grey {
  background-color: gray !important;
}

.bg-white {
  background-color: white !important;
}